<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}">
    </head>
    <body>
        {% block header %}
        	Je suis le block HEADER <br>
        {% endblock %}
        {% block body %}
        	<hr>
        	Je suis le block BODY de base.html.twig
        	<hr>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
